.edit-itinerary-form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
}

.edit-itinerary-form label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-or-edit-btn {
  border-radius: 1vmin;
}

/* .itinerary-card {
  text-decoration: none;
}

.itinerary-card-details {
  border: 2px solid var(--cyan);
  border-radius: 2vmin;
  padding-bottom: 2vmin;
  margin-bottom: 3vmin;
  background-color: var(--green);
  color: var(--black);
}

body.dark .itinerary-card-details {
  background-color: var(--blue);
  color: var(--white);
} */