.itineraries-page-list {
  padding-bottom: 18vmin;
}

.message {
  color: var(--cyan);
}

.add-btn {
  text-decoration: none;
  color: var(--blue-light);
}

.add-btn:hover {
  text-shadow: .4px .4px var(--blue-light);
}

body.dark .add-btn {
  color: var(--cyan-dark);
}

body.dark .add-btn:hover {
  text-shadow: .4px .4px var(--cyan-dark);
}

.itineraries-page-title {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}