.itineraries-page-list {
  padding-bottom: 1vmin;
}

.message {
  color: var(--cyan);
}

/* Alert {
  background-color: var(--blue);
  color: var(--dark-grey);
}

body.dark Alert {
  background-color: var(--purple);
  color: white;
} */