.itineraries-page-list {
  padding-bottom: 1vmin;
}

.message {
  color: var(--cyan);
}

.add-btn {
  text-decoration: none;
  color: var(--blue-light);
}

body.dark .add-btn {
  color: var(--cyan-dark);
}

.itineraries-page-title {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}


/* Alert {
  background-color: var(--blue);
  color: var(--dark-grey);
}

body.dark Alert {
  background-color: var(--purple);
  color: white;
} */