.calendar-page {
  padding-bottom: 18vmin;
}

body .modal-content {
  background-color: var(--white);
}

body.dark .modal-content {
  background-color: var(--dark-grey-2);
}

body.dark .form-control {
  background-color: var(--dark-grey);
  color: var(--white);
}

#add-act-btn {
  background-color: var(--blue-light);
}

#key-btn {
  background-color: var(--teal-light);
}

#add-act-btn, #key-btn {
  font-weight: bold;
}

body.dark #add-act-btn {
  background-color: var(--cyan-dark);
  color: var(--dark-grey);
}

body.dark #key-btn {
  background-color: var(--mint-dark);
  color: var(--dark-grey);
}

.activities-list {
  margin: 0 4vmin;
  overflow: auto;
}

.activities-list button {
  font-size: 1.5vmin;
}

/* ! ---------------------------------------- */
/* ? ---- Calendar styling ---- */

.react-calendar {
  margin: 0 2vmin;
}

.react-calendar__tile {
  padding: 10px 6.6667px;
  background-color: var(--white);
  border-radius: 1vmin;
  font-weight: normal;
}

body.dark .react-calendar__tile {
  background-color: var(--dark-grey-2);
}

.react-calendar__tile--active, .sel-date, 
.react-calendar__tile--active:enabled:hover,
.react-calendar__tile--active:enabled:focus {
  background: var(--blue-dark);
}

body.dark .react-calendar__tile--active, body.dark .sel-date, 
body.dark .react-calendar__tile--active:enabled:hover, 
body.dark .react-calendar__tile--active:enabled:focus {
  background: var(--blue-light);
}

.highlighted, .act-date {
  background: var(--cyan-dark);
}

body.dark .highlighted, body.dark .act-date {
  background: var(--cyan-light);
}

.react-calendar__navigation {
  display: flex;
  margin-bottom: 1em;
}

.react-calendar__navigation__arrow {
  min-width: 10vmin;
  padding: 1.5vmin 0;
}

.react-calendar__navigation button {
  background-color: var(--mint-dark);
  color: var(--dark-grey);
  border-radius: 1vmin;
}

body.dark .react-calendar__navigation button {
  background-color: var(--teal-light);
  color: var(--white);
}

.react-calendar__navigation__prev-button, .react-calendar__navigation__next-button {
  margin: 0 4vmin;
}

.react-calendar__navigation button:enabled:hover,
.react-calendar__navigation button:enabled:focus {
  background-color: var(--cyan-dark);
}

body.dark .react-calendar__navigation button:enabled:hover,
body.dark .react-calendar__navigation button:enabled:focus {
  background-color: var(--cyan-light);
}

.react-calendar__tile--now, .todays-date {
  background: var(--mint-dark)
}

body.dark .react-calendar__tile--now, body.dark .todays-date {
  background: var(--teal-light)
}

.react-calendar__year-view .react-calendar__tile,
.react-calendar__decade-view .react-calendar__tile,
.react-calendar__century-view .react-calendar__tile {
  padding: 1.5em 0.5em;
  font-weight: bold;
}

.react-calendar__month-view__weekdays {
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.75em;
}

.react-calendar__month-view__weekdays__weekday {
  padding: 0.5em;
}

.react-calendar__month-view__weekNumbers .react-calendar__tile {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.75em;
  font-weight: bold;
}

.react-calendar__month-view__days__day--weekend {
  color: var(--dark-greyy);
}

body.dark .react-calendar__month-view__days__day--weekend {
  color: var(--tan-2);
}

@media (max-width: 768px) {
  .activities-list button {
    height: 6vmin;
    padding: 0.2vmin;
    font-size: smaller;
  }
}