.itinerary-sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 2vmin;
  row-gap: 2vmin;
}

.itinerary-item {
  height: 200px;
  border: 1vmin solid var(--tan-4);
  border-radius: 2vmin;
  background-color: var(--green);
  font-size: 3vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

body.dark .itinerary-item {
  background-color: var(--purple);
}

.itinerary-item:hover {
  border-color: var(--cyan);
}