.itinerary-sections {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 2vmin;
  row-gap: 2vmin;
}

.itinerary-item {
  height: 120px;
  border: 0.5vmin solid var(--blue);
  border-radius: 2vmin;
  background-color: var(--white);
  font-size: 4vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.itinerary-item img {
  max-width: 10vmin;
}

body.dark .itinerary-item {
  /* background-color: #1F1F1F; */
  background-color: var(--dark-grey-2);
  border-color: var(--teal-light);
}

.itinerary-item:hover {
  border-color: var(--turquoise);
  /* box-shadow: 3px 3px 5px rgba(0, 116, 166, 0.5); */
}

body.dark .itinerary-item:hover {
  border-color: var(--cyan);
}

.message {
  color: var(--white);
  background-color: var(--grey);
}

#go-back-btn {
  background-color: var(--blue-light);
}

#edit-btn {
  background-color: var(--teal-light);
}

#del-btn {
  background-color: var(--pink-light);
}

#go-back-btn, #edit-btn, #del-btn {
  color: var(--white);
}

body.dark #go-back-btn {
  background-color: var(--blue-dark);
}

body.dark #edit-btn {
  background-color: var(--green-dark);
}

body.dark #del-btn {
  background-color: var(--pink-dark);
}

body.dark #go-back-btn, body.dark #edit-btn, body.dark #del-btn {
  color: var(--dark-grey-2)
}