body.dark .new-itinerary-form {
  color: var(--white);
}

.back-btn {
  text-decoration: none;
}

.new-itinerary-title {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

/* .create-btn {
  background-color: var(--blue-light);
  color: var(--black);
} */

