.new-itinerary-form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
}

.back-btn {
  text-decoration: none;
  color: var(--blue-light);
}

.back-btn:hover {
  text-shadow: .3px .3px var(--blue-light);
}

body.dark .back-btn {
  color: var(--cyan-dark);
}

body.dark .back-btn:hover {
  text-shadow: .3px .3px var(--cyan-dark);
}

.new-itinerary-title {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.new-itinerary-form label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.create-btn {
  border-radius: 1vmin;
}

