nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin-bottom: 2vmin; */
  font-weight: bold;
  background-color: var(--white);
  /* border-bottom: 2px solid; */
  box-shadow: 0 3px 5px rgba(0, 116, 166, 0.5);
}

body.dark nav {
  /* background-color: var(--dark-grey); */
  /* background-color: #2B2A2A; */
  background-color: var(--dark-grey-2);
}

.welcome-message {
  padding: 1vmin 1vmin;
}

nav a {
  padding: 1vmin 1vmin;
  color: var(--blue-light);
  text-decoration: none;
}

body.dark nav a {
  color: var(--cyan-dark);
}

nav a:hover {
  background-color: rgba(64, 156, 255, 0.3);
  /* background-color: rgba(var(--purple), 0.5); */
  border-radius: 1vmin;
  /* border: 1px solid rgba(64, 156, 255, 0.3) */
}

body.dark nav a:hover {
  background-color: rgba(0, 116, 166, 0.3)
}

.react-toggle-track-check, .react-toggle-track-x {
  font-size: 13px;
  display: flex;
  align-items: center;
}

nav div img, .nav-logo {
  max-width: 6vmin;
  border-radius: 1vmin;
}

.react-toggle-track, .react-toggle-thumb {
  zoom: 1.2;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 2vmin;
  color: var(--dark-grey);
}

body.dark .icon {
  color: var(--white);
}

/* .navbar-toggler {
  max-width: 6vmin;
  background-color: var(--cyan);
} */

/* .navbar-toggler-icon {
  background-color: white;
} */

/* body.dark .navbar-toggler {
  background-color: var(--pink-dark);
  border-color: var(--white);
} */

@media (max-width: 768px) {
  nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    padding: 1vmin 0.5vmin;
    /* border-top: 1px solid var(--blue)  */
    box-shadow: 0 -3px 5px rgba(0, 116, 166, 0.5);
  }
  .welcome-message {
    display: none;
  }
  nav div img, .nav-logo {
    max-width: 8vmin;
  }
  .react-toggle {
    margin: 0 2vmin;
  }
  nav span {
    padding-top: 1vmin;
  }
}