.itinerary-card {
  text-decoration: none;
  margin-bottom: 2vmin;
}

.itinerary-card-details {
  border: 1vmin solid var(--green);
  border-radius: 2vmin;
  padding-bottom: 2vmin;
  margin-bottom: 3vmin;
  background-color: var(--forest);
  color: var(--black);
}

body.dark .itinerary-card-details {
  background-color: var(--blue);
  color: var(--white);
}

.itinerary-card-details:hover {
  border-color: var(--purple);
}

/* ! Using Reactstrap */

.itinerary-card-reactstrap {
  background-color: var(--forest);
  border: 1vmin solid var(--green);
  border-radius: 0.5vmin;
}

body.dark .itinerary-card-reactstrap {
  background-color: var(--blue);
  color: var(--white);
}

.itinerary-card-reactstrap:hover {
  border-color: var(--purple);
}