.itinerary-card {
  text-decoration: none;
}

/* ! Using Reactstrap */

.itinerary-card-reactstrap {
  background-color: rgba(48, 214, 135, 0.4);
  border: 0.4vmin solid var(--teal-light);
  border-radius: 0.5vmin;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

body.dark .itinerary-card-reactstrap {
  background-color: var(--teal-light);
  border-color: var(--mint-dark);
  color: var(--white);
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
}

.itinerary-card-reactstrap:hover {
  border-color: var(--dark-grey);
}

body.dark .itinerary-card-reactstrap:hover {
  border-color: var(--white);
}