.itinerary-card {
  text-decoration: none;
  /* margin-bottom: 2vmin; */
}

/* .itinerary-card-details {
  border: 1vmin solid var(--green);
  border-radius: 2vmin;
  padding-bottom: 2vmin;
  margin-bottom: 3vmin;
  background-color: var(--forest);
  color: var(--black);
}

body.dark .itinerary-card-details {
  background-color: var(--blue);
  color: var(--white);
}

.itinerary-card-details:hover {
  border-color: var(--purple);
} */

/* ! Using Reactstrap */

.itinerary-card-reactstrap {
  /* background-color: var(--forest); */
  background-color: rgba(48, 214, 135, 0.4);
  /* background-color: rgba(112, 215, 255, 0.3); */
  /* background-color: rgba(64, 156, 255, 0.2); */
  border: 0.4vmin solid var(--teal-light);
  border-radius: 0.5vmin;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.5);
}

body.dark .itinerary-card-reactstrap {
  background-color: var(--teal-light);
  /* background-color: rgba(12, 129, 123, 0.5); */
  border-color: var(--cyan);
  color: var(--white);
  box-shadow: 0 0 7px rgba(255, 255, 255, 0.5);
}

.itinerary-card-reactstrap:hover {
  border-color: var(--dark-grey);
}

body.dark .itinerary-card-reactstrap:hover {
  border-color: cornflowerblue;
}