.places-map-container {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.rest-list-page {
  padding-bottom: 25vmin;
}

#places {
  list-style: none;
  margin: 0 1rem;
  padding-right: 2rem;
  padding-left: 0 !important;
  padding-right: 0 !important;
  background-color: var(--white);
  border: 1px dotted var(--dark-grey);
  border-radius: 2vmin;
}

body.dark #places {
  background-color: var(--dark-grey-2);
  border-color: var(--white);
}

#places li {
  padding: .2vmin;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 1.15rem;
  border-radius: .5vmin;
}

#places .place-name:hover {
  color: var(--blue-light);
  cursor: pointer;
}

body.dark #places .place-name:hover {
  color: var(--cyan-dark);
}

.x-btn {
  background-color: var(--white);
  border-radius: 1vmin;
}

body.dark .x-btn {
  background-color: var(--dark-grey-2);
}

.maps-btn {
  border-radius: 0.5vmin;
}

select {
  padding: 1vmin;
  border-radius: 1vmin;
}

body.dark select {
  background-color: var(--dark-grey-2);
  border-color: var(--white);
  color: var(--white);
}

#add-place-btn {
  background-color: var(--blue-light);
  font-weight: bold;
}

body.dark #add-place-btn {
  background-color: var(--cyan-dark);
  color: var(--dark-grey);
}

body.dark #place-more-btn {
  color: var(--purple-dark);
  background-color: var(--dark-grey);
}

body .modal-content {
  background-color: var(--white);
}

body.dark .modal-content {
  background-color: var(--dark-grey-2);
}

body.dark .form-control {
  background-color: var(--dark-grey);
  color: var(--white);
}

body.dark .offcanvas {
  background-color: var(--dark-grey);
  color: var(--white);
}

body.dark .offcanvas button {
  background-color: var(--white);
}

@media (min-width: 500px) {
  #places {
    margin: 0 3rem;
  }
}

@media (min-width: 768px) {
  #places {
    margin: 0 15vw;
  }
}