/* CSS Custom Properties */
:root {
  --white: #FFFFFF;
  /* --white: rgb(255, 255, 255); */
  --tan-1: #FBF9F6;
  --tan-2: #E7E2DD;
  --tan-3: #E2D9D1;
  --tan-4: #D3C1AE;
  --black: rgb(0, 0, 0);
  /* --dark-grey: #1F1F1F; */
  --dark-grey: rgb(31, 31, 31);

  --dark-grey-2: rgb(49, 44, 44);
  /* --dark-grey-2: #1A1628; */

  /* --dark-grey: #1A1628; */
  /* --dark-grey: rgb(26, 22, 40); */
  --dark-blue-grey: #120C25;

  --dark-greyy: #161225;
  /* --dark-greyy: #151027; */

  --light-grey: #968c84;
  --grey: rgb(97, 89, 84);
  --purple: rgb(187, 134, 252);
  --purple-light: rgb(100, 21, 144);
  --purple-dark: rgb(218, 143, 255);
  --cyan: rgb(3, 218, 197);
  --green: rgb(0, 163, 129);
  --turquoise: rgb(2, 192, 152);
  --forest: rgb(48, 214, 135);
  --teal-light: rgb(12, 129, 123);
  --green-dark: rgb(48, 219, 91);
  --blue: rgb(0, 116, 166);
  --blue-light: rgb(0, 64, 221);
  --blue-dark: rgb(64, 156, 255);
  --cyan-dark: rgb(112, 215, 255);
  --red-light: rgb(215, 0, 21);
  --red-dark: rgb(255, 105, 97);
  --pink-light: rgb(211, 15, 69);
  --pink-dark: rgb(255, 100, 130);
}

/* 
  blue-light - 0040DD (0, 64, 221)
  blue-dark - 409CFF (64, 156, 255)
  cyan-dark - 70D7FF (112, 215, 255)
  purple-light - 641590 (100, 21, 144)
  purple-dark - DA8FFF (218, 143, 255)
  yellow-dark - FFD426 (255, 212, 38)
  yellow-light - A05A00 (160, 90, 0)
  orange-dark - FFB340 (255, 179, 64)
  orange-light - C93400 (201, 52, 0)
  green-dark - 30DB5B (48, 219, 91)
  teal-light - 0C817B (12, 129, 123)
  red-light - D70015 (215, 0, 21)
  red-dark - FF6961 (255, 105, 97)
  dark-grey (blue): 1A1628 (26, 22, 40);
*/

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--tan-1) !important;
  color: var(--dark-grey) !important;
  height: 100vh;
}


body.dark {
  background-color: var(--dark-grey) !important;
  /* background-color: var(--dark-greyy); */
  /* background-color: var(--dark-blue-grey); */
  color: var(--white) !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
}

/* .align-ctr {
  text-align: center;
}

.align-rt {
  text-align: right;
}

.smaller {
  font-size: smaller;
} */

.flex-ctr-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

/* .flex-j-end {
  justify-content: flex-end;
}

.scroll-y {
  overflow-y: scroll;
} */

.section-heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tan-1);
  color: var(--grey);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
  padding: .6vmin;
  text-align: center;
  font-size: 2vmin;
}

.form-container {
  margin: 3vmin;
  padding: 3vmin;
  background-color: var(--tan-2);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
}

body.dark .form-container {
  padding: 3vmin;
  background-color: var(--blue);
  border: .1vmin solid var(--tan-3);
  border-radius: 1vmin;
}

p.error-message {
  color: var(--purple);
  text-align: center;
}

/* form {
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 1.25vmin;
} */

/* label {
  font-size: 3vmin;
  display: flex;
  align-items: center;
} */

input {
  padding: 1vmin;
  font-size: 3vmin;
  border: .1vmin solid var(--tan-3);
  border-radius: .5vmin;
  color: var(--dark-grey);
  background-image: none !important; /* prevent lastpass */
  outline: none;
}

body.dark input {
  background-color: var(--dark-grey);
  color: white;
  /* font-weight: bold; */
}

input:focus {
  border-color: var(--purple);
}

button, a.button {
  margin: 1vmin;
  padding: 1vmin;
  color: var(--white);
  background-color: var(--purple);
  font-size: 2vmin;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  border: .1vmin solid var(--tan-2);
  border-radius: .5vmin;
  outline: none;
  cursor: pointer;
}

/* button.btn-sm {
  font-size: 1.5vmin;
  padding: .6vmin .8vmin;
}

button.btn-xs {
  font-size: 1vmin;
  padding: .4vmin .5vmin;
} */

button:disabled, form:invalid button[type="submit"] {
  cursor: not-allowed;
  background-color: var(--cyan);
}

button[type="submit"] {
  grid-column: span 2;
  margin: 1vmin 0 0;
}