body.dark .budget-table {
  background-color: var(--grey);
  color: var(--white);
}

.budget-list {
  list-style: none;
}

.budget-table input {
  font-weight: bold;
}

.add-budget-item input {
  font-weight: bold;
}