.budget-table {
  max-width: 95%;
}

.budget-page {
  padding-bottom: 18vmin;
}

.budget-list {
  list-style: none;
}

.budget-table input {
  font-weight: bold;
}

.add-budget-item input {
  font-weight: bold;
}

.t-head tr th, .t-foot tr th {
  background-color: var(--mint-dark);
}

body.dark .t-head tr th, body.dark .t-foot tr th {
  background-color: var(--teal-light);
  color: var(--white);
}

.action-col button {
  background-color: var(--teal-light);
  color: var(--white);
  border-radius: 0.5vmin;
}

body.dark .action-col button {
  background-color: var(--mint-dark);
  color: var(--dark-grey);
}

@media (max-width: 500px) {
  .budget-table {
    max-width: 90%;
  }
  .item-col {
    max-width: 38vmin;
  }
  .item-col input {
    max-width: 37vmin;
  }
  .cost-col, .action-col {
    max-width: 20vmin;
  }
  .cost-col input {
    max-width: 19vmin;
  }
}