.home-logo {
  border-radius: 5vmin;
}

.app-summary {
  color: var(--purple-light)
}

body.dark .app-summary {
  color: var(--cyan-dark)
}

.accordion-header button {
  background-color: var(--purple-dark);
  color: var(--dark-grey);
  border-radius: 1vmin;
}

.accordion-header button:not(.collapsed) {
  background-color: var(--blue-dark);
  color: var(--dark-grey);
}

.accordion-body {
  /* border: 1px solid var(--blue-dark);
  border-radius: 1vmin; */
  background-color: var(--tan-1);
}

body.dark .accordion-header button {
  background-color: var(--purple-light);
  color: var(--white);
  border-radius: 1vmin;
}

body.dark .accordion-header button:not(.collapsed) {
  background-color: var(--blue-light);
  color: var(--white);
}

body.dark .accordion-body {
  /* border: 1px solid var(--blue-dark);
  border-radius: 1vmin; */
  /* background-color: var(--grey); */
  background-color: var(--dark-grey-2);
  color: var(--white);
}

@media (min-width: 768px) {
  .home-logo {
    width: 50%;
  }
}